.mail-side-nav {
    background-color: var(--main-header-color);
    display: flex;
    flex-direction: column;
    position: fixed;

}

.nav-list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
}

.nav-list>* {
    height: 32px;
    width: 202px;
    /* outline: #e1e7ee solid 1px; */
    padding-inline-start: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.nav-list>*:hover {
    background-color: rgb(233, 233, 233);

}

.is-clicked {
    background-color: #d3e3fd;
    color: #001d35;
    font-weight: 700;
}

.inbox {
    background-image: url(./img/inbox.png);
    margin-inline-end: 20px;
}

.nav-list .unStarred {
    margin-inline-end: 20px;
}

.sent {
    background-image: url(./img/sent.png);
    margin-inline-end: 20px;
}

.black-trash {
    background-image: url(./img/black-trash.png);
    margin-inline-end: 20px;

}

.draft {
    background-image: url(./img/draft.png);
    margin-inline-end: 20px;

}

.nav-compose {
    width: 118px;
    height: 56px;
    background-color: #c2e7ff;
    fill: #001d35;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
    border-radius: 16px;
    text-align: center;
    border: #e1e7ee solid 1px;
    margin: 8px 106px 16px 8px;
    padding-inline-end: 24px;
    display: flex;
    align-items: center;
    padding-inline-start: 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.compose {
    background-image: url(./img/compose.png);
    margin-inline-end: 20px;
}

.nav-compose:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;

}


.mail-side-nav .logo {
    padding: 0;
    align-self: flex-start;
    justify-self: center;
    margin-top: 2vh;
    display: none;
}


@media (max-width: 650px) {
    .mail-side-nav {
        position: fixed;
        transform: translatex(-100%);
        top: 0;
        left: 0;
        background: var(--main-header-color);
        border-inline-start: 1px solid var(--mail-border-color);
        width: 70%;
        height: 100vh;
        overflow: hidden;
        transition: max-height 0.6s, box-shadow 0.6s;
        z-index: 300;
        transition: 0.4s;
    }

    .nav-list {
        position: absolute;
        top: 17%;
        left: 0;
    }

    .menu-open {
        transform: translatex(0);
        pointer-events: auto;
    }

    .mail-side-nav .nav-compose {
        display: none;
    }

    .mail-side-nav .logo {
        display: block;
    }

}