.home {
    font-family: roboto;
    overflow-x: hidden;
}

.home .hero {
    height: 23.4375rem;
    background-image: url("/assets/img/home-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.home-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.home-nav-container>* {
    margin-inline: 20px;
}

.home .mail {
    height: 10.4375rem;
    width: 14.4375rem;
    background-image: url("/assets/img/gmain.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100px;
    width: 130px;
}

.home .notes {
    height: 8.4375rem;
    width: 8.4375rem;

    background-image: url("/assets/img/keep.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100px;
    width: 100px;
}

.home .book-shop {
    height: 10.4375rem;
    width: 10.4375rem;

    background-image: url("/assets/img/books.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100px;
    width: 140px;
    margin: 0;

}


.home .hero-img {
    background-image: url("/assets/img/google-people.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 15.4375rem;
    width: 20.4375rem;
    margin-inline: auto;
    margin-bottom: 10vh;
}


.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.home-row1 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.home-row1 img {
    width: 19em;
    margin-top: 20px;
}

.home-row1 h1 {
    font-size: 2rem;
    max-width: 50%;
    text-align: center;
    font-weight: 400;
}

.home-mail-container,
.home-note-container,
.home-book-container {
    margin-inline: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.home button {
    background-color: #ea4335;
    color: white;
    border-radius: 15px;
    border: var(--mail-border-color);
    width: 150px;
    height: 30px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 650px) {
    .home-row1 {
        flex-direction: column;
        margin-top: 100%;
        margin-bottom: 200px;
    }

    .home-hero {}
}


@media (max-width: 400px) {
    .home-row1 {
        flex-direction: column;
        margin-top: 180%;
        margin-bottom: 200px;
    }


}