.mail-index {
    font-family: roboto;
    font-size: 14px;
    display: grid;
    grid-template-areas:
        "   side-nav      filter"
        "   side-nav      mail-list"
    ;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 62px 1fr;
    color: var(--mail-text-color);
    background-color: var(--main-header-color);
    overflow-x: hidden;
}

.mail-side-nav {
    grid-area: side-nav;
    min-height: 83vh;
}

.mail-filter {
    grid-area: filter;
    align-self: center;
}

.mails-list {
    grid-area: mail-list;
}