.mail-index {
    font-family: roboto;
    font-size: 14px;
    display: grid;
    grid-template-areas:
        "   side-nav      filter"
        "   side-nav      mail-list"
    ;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 62px 1fr;
    color: var(--mail-text-color);
    background-color: var(--main-header-color);
    overflow-x: hidden;
}

.mail-side-nav {
    grid-area: side-nav;
    min-height: 83vh;
}

.mail-filter {
    grid-area: filter;
    align-self: center;
}

.mails-list {
    grid-area: mail-list;
}

.nav-compose.index {
    display: none;
}

@media (max-width: 650px) {
    .mail-index {
        grid-template-areas:
            "   filter      filter"
            "   mail-list      mail-list"
        ;

    }

    .mails-list {
        grid-column: 0/2;
        grid-row: 2/3;
        z-index: 2;
        width: 100%;
    }


    .main-screen {
        height: 100vh;
        width: 100vw;
        position: fixed;
        inset: 0;
        background-color: #121212db;
        /* display: none; */
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.6s;
        /* pointer-events: none; */
        z-index: 101;
    }

    .nav-compose.index {
        position: fixed;
        width: 100px;
        height: 46px;
        bottom: 1em;
        right: 1em;
        z-index: 100;
        margin: 0;
        display: flex;
    }







}