body {
    color: #202124;
}

.main-layout {
    margin: 0 82px
}

.note {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 240px;
    min-height: 120px;
    /* margin: 16px; */
    font-family: Product, arial, sans-serif;
    font-size: 15px;
    background-color: #fff;
    /* border-color: #e0e0e0; */
    border: 1px solid #e0e0e0;
    background-clip: padding-box;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    transition-timing-function: ease-in;
    transition-duration: 0.218s;
    border-radius: 8px;
}

.shalom {
    font-family: Product;
}

.note-list {
    list-style: none;
    padding: 0;
    columns: 5;
    column-width: 240px;
    column-gap: 10px;
    width: 100%;
}

.note-title {
    letter-spacing: .00625em;
    font-family: Product-Bold, Roboto, Arial, sans-serif;
    font-size: 1.25rem;
    /* font-weight: 500; */
    line-height: 1.5rem;
    margin: 0;
}

.note-txt-wrap {
    margin: 0
}

.note-txt {
    letter-spacing: .01428571em;
    font-family: Product, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.note-preview {
    padding: 12px 16px;
    border-radius: 8px;
}

.note-btn {
    background-color: transparent;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
}

.note-txt-btn {
    background-color: transparent;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.pin {
    position: absolute;
    top: 0;
    right: 0;
}

.pin-full {
    position: absolute;
    top: 0;
    right: 0;
}

.note:hover {
    box-shadow: 0px 2px 7px #00000042;
    /* outline: 1px; */
}

.note:hover .tol-bar {
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tol-bar-space {
    min-height: 40px;
}

.tol-bar {
    height: 20px;
    padding: 0;
    margin: 0;
}

.image {
    background: url(./img/add-note-img.svg);
    Background-size: cover;
    background-position: 50% 50%;
    margin: 10px;
}


.img-txt {
    margin: 0;
}

.palet {
    background: url(./img/palet.svg);
    Background-size: cover;
    background-position: 50% 50%;
    margin: 1px;
}

.palet-txt {
    margin: 0;
}

.pin {
    background: url(./img/pin.svg);
    Background-size: cover;
    background-position: 50% 50%;
    margin: 10px;
}

.pin-txt {
    margin: 0;
}

.pin-full {
    background: url(./img/pin-full.svg);
    Background-size: cover;
    background-position: 50% 50%;
    margin: 10px;
}

.pin-full-txt {
    margin: 0;
}

.delete {
    background: url(./img/bin.svg);
    Background-size: cover;
    background-position: 50% 50%;
}

.non-pined-wrap {
    margin-top: 40px;
}

.space-x {
    height: 700px;
}