.note-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    margin-right: 80px;
    margin-left: 80px;
}

/* search-box */

:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --fontFamily: Product, sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc((var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) - (var(--inputFontSize) * var(--inputLineHeight)));
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

.search-wrap {
    display: flex;
}

.search-input {
    margin: 2rem;
    display: block;
    width: 615px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    font-family: Product;
    font-size: 1.3rem;
    background-color: #2021240c;
    /* line-height: var(--inputLineHeight); */
    border: 1px solid rgba(0, 0, 0, 0.073);
    border-radius: 0.5rem;
    /* box-shadow: 0 0 10px #00000038; */
}

.search-input::placeholder {
    color: #B0BEC5;
}

.search-input:focus {
    outline: none;
}

/* ////////////////////////// */


.header-title {
    padding-right: 40px;
    font-weight: 400;
    color: #5F6368;
    font-family: Product;
    padding-left: 1rem;
}


hr {
    border: 0.5px solid rgba(110, 110, 110, 0.134);
    margin: 0;
}

.search-icon {
    background: url(./img/search.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 5rem;
    background-color: transparent;
    border: none;
    z-index: 10;
    height: 32px;
    width: 32px;
    margin: 5px;
    cursor: pointer;
}