.note-add {
    margin: 0 auto;
    max-width: 600px;
}


.add-input {
    margin: 32px auto;
    margin: 2rem;
    display: block;
    width: 600px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    font-family: Product;
    font-size: 1.3rem;
    /* line-height: var(--inputLineHeight); */
    border: 1px solid rgba(0, 0, 0, 0.073);
    border-radius: 0.4rem;
    box-shadow: 0 0 10px #00000038;
}

.add-input::placeholder {
    color: #B0BEC5;
}

.add-input:focus {
    outline: none;
}

.new-note {
    background-color: transparent;
    border: none;
    z-index: 10;
    height: 32px;
    width: 32px;
    margin: 5px;
    cursor: pointer;
}

.add-wrap {
    display: flex;
    width: 850px;
}

.todo {
    background: url(./img/todos-v.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 15rem;
}

.canvas {
    background: url(./img/add-note-canvas.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 13rem;
}

.img {
    background: url(./img/add-note-img.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 11rem;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.inline-block {
    display: inline-block;
}