.note-add {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.todos-wrap {
    display: flex;
    width: 850px;
}

.note-add-todos {
    margin: 0 auto;
    max-width: 600px;
}

.note-add-todos-input {
    margin: 32px auto;
    margin: 2rem;
    display: block;
    width: 600px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    font-family: Product;
    font-size: 1.3rem;
    /* line-height: var(--inputLineHeight); */
    border: 1px solid rgba(0, 0, 0, 0.073);
    border-radius: 0.4rem;
    box-shadow: 0 0 10px #00000038;
}


.add-input {
    margin: 32px auto;
    margin: 2rem;
    display: block;
    width: 600px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    font-family: Product;
    font-size: 1.3rem;
    /* line-height: var(--inputLineHeight); */
    border: 1px solid rgba(0, 0, 0, 0.073);
    border-radius: 0.4rem;
    box-shadow: 0 0 10px #00000038;
}

.add-input::placeholder {
    color: #B0BEC5;
}

.note-txt-title-input::placeholder {
    color: #B0BEC5;
}

.add-input:focus {
    outline: none;
}

.note-txt-title-input:focus {
    outline: none;
}

.new-note {
    background-color: transparent;
    border: none;
    z-index: 10;
    height: 32px;
    width: 32px;
    margin: 5px;
    cursor: pointer;
}

.add-wrap {
    display: flex;
    width: 850px;
    overflow: hidden;
}

.todo {
    background: url(./img/todos-v.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 15rem;
}

.canvas {
    background: url(./img/add-note-canvas.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 13rem;
}

.video {
    background: url(./img/video.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 13rem;
    height: 25px;
    width: 25px;
}

.img {
    background: url(./img/add-note-img.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    position: relative;
    right: 11rem;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.main {
    margin-left: -46.5rem;
    margin-top: 5rem;
}

.inline-block {
    display: inline-block;
}

.todos {
    background: url(./img/todo.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    height: 23px;
    width: 23px;
    margin-right: 10px;
}

.todos-full {
    background: url(./img/todo-full.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    height: 23px;
    width: 23px;
    margin-right: 10px;
}

.delete-todo {
    background: url(./img/small-x.svg);
    Background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
}

.todo-list {
    list-style: none;
}

.todos-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-done {
    text-decoration: line-through;
}

.note-close-btn {
    background-color: transparent;
    font-family: Product;
    font-size: 1rem;
    position: relative;
    border: none;
    right: 101px;
    top: 38px;
}

.img-close-btn {
    background-color: transparent;
    font-family: Product;
    font-size: 1rem;
    position: relative;
    border: none;
    right: 101px;
}

.pin-txt {
    position: relative;
    display: inline-block;
    margin-top: -10rem;
}

.tool-bar-main {
    position: relative;
}

iframe {
    width: 100%;
}

.todo-txt-inside-note {
    font-size: 1rem;
}

@media (max-width: 930px) {
    .add-input {
        width: 400px;
    }

    .add-wrap {
        width: 600px;
    }
}

@media (max-width: 715px) {
    .add-input {
        width: 300px;
    }

    /* .add-wrap {
        width: 500px;
    } */

    .search-icon {
        display: none;
    }
}

@media (max-width: 450px) {
    .todo {
        right: 12rem;
    }

    .video {
        right: 11rem;
    }

    .img {
        right: 10rem;
    }

    .todos-wrap {
        margin: 0;
        width: 400px;
    }

    .note-add-todos-input {
        margin: 0;
        width: 400px;
    }
}

@media (max-width: 400px) {
    .add-input {
        margin-left: -0.1rem
    }
}